<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Hamburgarhandel - Onlinebeställning</title>
      <meta charset="utf-8"/>
    </head>
    <body>
      <main>
      <h1>Välkommen till Hamburgarhandel</h1>

      <section><h3>Meny</h3>
      <p>Här väljer du vilken hamburgare du vill ha:</p>
      </section>
      <h3>Fintallriken</h3><img src="https://www.preem.se/globalassets/privat/i-butiken/hamburgare/hamburgare_2019.png?preset=StandardPageImage"></a>
      
      <section><h3>Kundinformation</h3>
      <p>Ange leveransaddress och betalningsmetod:</p>
      </section>
      </main>
      
      <footer>
      </footer>
    </body>
</html>
