<!DOCTYPE html>
<html lang="en" id="index_page">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="js/menu.js"></script>.
    <script src="js/js_script.js" defer></script>

    <link rel="stylesheet" href="css/deli-very.css">
    <script src="/socket.io/socket.io.js" defer></script>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script charset="utf-8" src="js/vue_script.js" defer></script>
    
    <title>Hamburgarhandel - Onlinebeställning</title>
    <meta charset="utf-8"/>
  </head>
  
  <body id="bodyContent">
    <main id="content">

      <header id="header">
	<img src="img/krog.jpg">
	<h1 id="hamburgergreeting">Välkommen till Hamburgarhandel</h1>
      </header>
      
      <section id="hamburgarmeny"><h3 class="hamburgarintro">Meny</h3>
      <p class="hamburgarintro">Här väljer du vilken hamburgare du vill ha:</p>

      <!-- JAVASCRIPT VERSION HANDLES CONTENT-->
      <div id="hamburgerwrapper" >
	<!-- VUE VERSION NEEDS VARIABLES AND TAGS-->
	<div v-for="burger in menu">
	  <h3 class="burgerName"> {{ burger.name }} </h3> <!-- Dynamic classes inside vue?-->
	  <img class="burgerImg" v-bind:src=burger.image>

	  <!--Dynamically lists terms in burger list -->
	  <dl v-for="(burgerTerm, index) in burgerTerms" >
	    <dt> {{ burgerTerm }}</dt>
	    <dd v-if="burgerTerm == 'Allergener'" v-html="addAllergeneClass(index)" v-bind:id="burger.variableName + burgerTerm">  </dd>
	    <dd v-else> {{ getBurgerAttributes(burger)[index] }} </dd>
	    
	  </dl>
	  
	  <label for="hamburgerChoice"> {{burger.name}}</label>
	  <input v-model="hamburgerChoice" type="checkbox" v-bind:value=burger.name> <!-- v-bind dynamically changes value of value--><!-- value must be set to name-->
	</div>
	
      </div>
      </section>
      
      <section id="kundinformation"><h3 class="kundintro">Kundinformation</h3>
	<p class="kundintro">Ange leveransaddress och betalningsmetod:</p>
	<form id="orderForm">
	  <p>
	    <label for="fullname">För- och efternamn</label><br>
	    <input v-model="fullName" type="text" id="fullname" name="fn" required="required" placeholder="För- och efternamn" />
	  </p>
	  <p>
	    <label for="email">E-post</label><br>
	    <input v-model="eMail" type="email" id="email" name="em" required="required" placeholder="E-post" />
	  </p>
	  <!--Payment method-->
	  <p>
	    <label for="payment">Betalningsmetod</label><br />
	    <select v-model="paymentChoice" id="payment" name="payment">
              <option selected="selected">Bankkort</option>
              <option>Kreditkort</option>
              <option>Swish</option>
              <option>Kontant(Vid ankomst)</option>
	    </select>
	  </p>
	  <!--Gender buttons-->
	  <p id="genderButtons">
	    <label class="genderlabel" for="gender">Välj kön</label>
	    <br>
	    <label for="female">
	      <input v-model="genderChoice" type="radio" id="female" name="gender" value="Kvinna"/>Kvinna
	      <br>
	    </label>
	    <label for="male">
	      <input v-model="genderChoice" type="radio" id="male" name="gender" value="Man"/>Man
	      <br>
	    </label>
	    <label for="nonbinary">
	      <input v-model="genderChoice" type="radio" id="nonbinary" name="gender" value="Icke-binär"/>Icke-binär
	      <br>
	    </label>
	<!--No longer checked with v-model?--><input v-model="genderChoice" type="radio" checked="checked" name="gender" value="Vill ej uppge"/>Vill ej uppge
	    <br>
	  </p>

	  <div class="view-box">
	    <div id="dots" v-on:click="displayOrder">
              <div 
		v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
		{{orderTarget}}
              </div>
	    </div>
	  </div>
	</form>

	<button v-on:click="getFormSummary(); addOrder();"
		id="orderButton" type="submit">
	  <img id="orderImage" src="img/orderImage.jpg"/> Beställ hamburgare
	</button>

	<div class="orderInfo" v-if="isOrderButtonClicked">
	  <h3>Beställingsbekräftelse</h3>
	  <h4>Kundinformation</h4>
	  Namn: {{ fullName }}
	  <br>
	  E-post: {{ eMail }}
	  <br>
	  Betalningsmetod: {{ paymentChoice }}
	  <br>
	  Kön: {{ genderChoice }}
	  <br>
	  <h4>Beställning</h4>
	  <ul>
	    <li v-for="hamburger in hamburgerChoice">
	      {{ hamburger }}
	    </li>
	  </ul>
	</div>

	
      </section>
    </main>
    
      <footer>
      </footer>
    </body>
</html>
