<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Hamburgarhandel - Onlinebeställning</title>
      <meta charset="utf-8"/>
    </head>
    <body>
      <main>
      <h1>Välkommen till Hamburgarhandel</h1>

      <section><h3>Meny</h3>
      <p>Här väljer du vilken hamburgare du vill ha:</p>

      <table>
	<thead>
	  <tr>
	    <th>Fintallriken</th>
	    <th>Höjdaren</th>
	    <th>Knapertugg</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><img src="https://www.preem.se/globalassets/privat/i-butiken/hamburgare/hamburgare_2019.png?preset=StandardPageImage"></td>
	    <td><img src="http://krikors-pizza.se/____impro/1/onewebmedia/hamburger.png?etag=W%2F%22987e5-5a7744c0%22&sourceContentType=image%2Fpng" width="380"></td>
	    <td><img src="https://www.burgerking.se/011_se/Product%20images/Burgers/image-thumb__7650__product_detail/BACON%20KING%201500x1500.png" width="500"></td>
	  </tr>

	  <tr>
	    <td>
	      <dl>
		<dt><b>Protein</b></dt>
		<dd>Finns med kyckling, jackfruit, eller nöt.</dd>
		<dt><b>Sallad</b></dt>
		<dd>Serveras med antingen isbergssallad, machésallad, eller romansallad.</dd>
		<dt><b>Ost</b></dt>
		<dd>Monterey-infusionerad mozzarella eller cheddar.</dd>
		<dt><b>Allergener</b><dt>
		  <dd>Innehåller gluten och laktos.</dd>    
	      </dl>
	    </td>
	    <td>
	      <dl>
		<dt><b>Protein</b></dt>
		<dd>Finns med tonfisk eller nötkött.</dd>
		<dt><b>Sallad</b></dt>
		<dd>Serveras med antingen isbergssallad eller romansallad.</dd>
		<dt><b>Ost</b></dt>
		<dd>Cheddar eller laktosfri cheddar.</dd>
		<dt><b>Allergener</b><dt>
		  <dd>Kan innehålla laktos.</dd>    
	      </dl>
	    </td>
	    <td><dl>
		<dt><b>Protein</b></dt>
		<dd>Nötkött med antingen gris- eller kalkonbacon.</dd>
		<dt><b>Sallad</b></dt>
		<dd>Inget nyttigt här.</dd>
		<dt><b>Ost</b></dt>
		<dd>Amerikansk cheddar eller laktosfri kanadensisk cheddar.</dd>
		<dt><b>Allergener</b><dt>
		  <dd>Brödet finns i glutenfri version.</dd>    
	    </dl></td>	    
	  </tr>

	</tbody>
      </table>
      
</section>
      <section><h3>Kundinformation</h3>
	<p>Ange leveransaddress och betalningsmetod:</p>
	<form>
	  <p>
	    <label for="fullname">Full name</label><br>
	    <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name" />
	  </p>
	  <p>
	    <label for="email">E-mail</label><br>
	    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
	  </p>
	  <p>
	    <label for="streetname">Street name</label><br>
	    <input type="text" id="streetname" name="strtn" placeholder="Street name" />
	  </p>
	  <p>
	    <label for="housenumber">House number</label><br>
	    <input type="number" id="housenumber" name="housenum" placeholder="House number" />
	  </p>
	</form>

	<p>
	  <label for="payment">Payment method</label><br />
	  <select id="payment" name="payment">
            <option selected="selected">Debit card</option>
            <option>Credit card</option>
            <option>Swish</option>
            <option>Cash(At delivery)</option>
	  </select>
	</p>
      </section>
      </main>
      
      <footer>
      </footer>
    </body>
</html>
