body {
    font-family: arial;
    font-size: 1.08em;
}

.allergener{
    font-weight: bold;
}

#hamburgarmeny{
    color: #ffffff;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 2%;
}

#kundinformation{
    margin-top: 2.5%;
}

button:hover{
    background-image: linear-gradient(#CFF0CC, #9FFBCC);
    background-color: #CFF0CC
    border-color: #CFFBCC;
    cursor:pointer;
}

body{
    margin: 0 auto;
}


section, .hamburgarintro, #hamburgergreeting{
    margin-left: 3%;
}

table{
    width: 100%;
    margin: 0 auto;
    margin-left: 2.5%;
}

table img{ /*Consider browser resizing issue*/
    display: block;
    margin: 0 auto;
    width: 31em;
}
#hojdaren{
    width: 22em;
}

#hamburgartext{
    padding-left: 200px; /*Will not move text in any case*/
}

button{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
