body {
    font-family: arial;
    font-size: 1.08em;
    margin: 0 auto;
}

.allergene{
    font-weight: bold;
}

button{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
button:hover{
    background-image: linear-gradient(#CFF0CC, #9FFBCC);
    background-color: #CFF0CC
    border-color: #CFFBCC;
    cursor:pointer;
}

form, button, .kundintro, .hamburgarintro, .orderInfo, #header{
    margin-left: 3%;
}

#orderImage{
    width: 60px;
}

#header{
    padding-left: 22%;
    overflow: hidden;
}
#header img{
    opacity: 0.34;
    width: 70%;
}
#hamburgergreeting{
    margin-top: -12%;
    margin-left: 16%;
    position: absolute;
}

#hamburgarmeny{
    color: #ffffff;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 2%;
    border-style: dashed;
}

#kundinformation{
    margin-top: 2.5%;
    border-style: dashed;
}

#hamburgerwrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2.5%;
}
dt {
    font-weight: bold;
}
.burgerName{
    text-align: center;
}
.burgerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 22em; /* Using % does not center grid?*/
}


/*
#hojdaren{
    width: 22em;
}

#knapertugg{
    width: 29em;
}*/

/*#hamburgartext{
    padding-left: 200px; /*Will not move text in any case
} Does now */
